<div class="container px-4 py-5" id="custom-cards">
  <h1 class="fw-bold mb-0 fs-2 py-3">
    Ache sua acamodação
  </h1>
    <div class="d-flex justify-content-end">
    <button type="button" class="btn btn-primary mt-auto me-3" (click)="openReserveComponent()">Reservas</button>
  </div>

  <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
    <div class="col">
      <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('https://cf.bstatic.com/xdata/images/hotel/max1024x768/358086382.jpg?k=929255443a40d7fb887e49861964665a355a480faa463b066c0b3a68494939a7&o=&hp=1');">
        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
          <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Tropical Hotel</h3>
          <ul class="d-flex list-unstyled mt-auto">
            <li class="me-auto">
              <img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
            </li>
            <li class="d-flex align-items-center me-3">
              <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
              <small>sp</small>
            </li>
          </ul>
          <button type="button" class="btn btn-primary mt-auto">Reserve</button>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card card-cover-1 h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('unsplash-photo-2.jpg');">
        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
          <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Blue Tree Hotel</h3>
          <ul class="d-flex list-unstyled mt-auto">
            <li class="me-auto">
              <img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
            </li>
            <li class="d-flex align-items-center me-3">
              <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
              <small>sp</small>
            </li>
          </ul>
          <button type="button" class="btn btn-primary mt-auto">Reserve</button>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card card-cover-2 h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('unsplash-photo-3.jpg');">
        <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
          <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Quality Hotel</h3>
          <ul class="d-flex list-unstyled mt-auto">
            <li class="me-auto">
              <img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
            </li>
            <li class="d-flex align-items-center me-3">
              <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
              <small>sp</small>
            </li>
          </ul>
          <button type="button" class="btn btn-primary mt-auto">Reserve</button>
        </div>
      </div>
    </div>
  </div>
</div>
