<div class="navbar navbar-dark bg-dark shadow-sm fixed-top">
  <header class="container">
    <a href="#" class="navbar-brand d-flex align-items-center">
      <svg src="assets/hbs.svg" alt="Hotel Booking Store" width="20" height="20"></svg>
      <strong>HBS</strong>
    </a>
    <button type="button" class="btn btn-primary mt-auto" *ngIf="!isRegisterPageHotel && !isRegisterPageReserve" (click)="openLoginOrRegister()">
      <strong>{{ buttonText }}</strong>
    </button>

      <div ngbDropdown *ngIf="isRegisterPageHotel || isRegisterPageReserve">
        <button type="button" class="btn btn-primary" id="dropdownConfig" ngbDropdownToggle><strong>Perfil</strong></button>
        <div ngbDropdownMenu aria-labelledby="dropdownConfig">
        <button ngbDropdownItem (click)="open()">Meu Saldo</button>
      </div>
    </div>
  </header>
</div>
<router-outlet></router-outlet>

<div class="b-example-divider"></div>

<div class="container">
  <footer>
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Home</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Contact</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">FAQs</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">About</a></li>
    </ul>
    <p class="text-center text-body-secondary">© 2024 Company, Inc</p>
  </footer>
</div>
