<div class="modal modal-sheet position-static d-block bg-body-secondary p-4 py-md-5" tabindex="-1" role="dialog" id="modalSignin">
  <div role="document">
    <div class="container col-xl-10 col-xxl-8 px-4 py-5">
      <div class="row align-items-center g-lg-5 py-5">
        <div class="col-md-10 mx-auto col-lg-5">
          <form class="p-4 p-md-5 border rounded-3 bg-body-tertiary">
            <h1 class="fw-bold mb-0 fs-2 py-3">
              Faça o login
            </h1>
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="name" formControlName="name" placeholder="Name">
              <label for="name">Nome</label>
            </div>
            <div class="form-floating mb-3">
              <input type="email" class="form-control" id="email" formControlName="email" placeholder="name@example.com">
              <label for="email">Email</label>
            </div>
            <button (click)="openHotelComponent()" class="w-100 btn btn-lg btn-primary">Entrar</button>
            <hr class="my-4">
            <small class="text-body-secondary">© 2017–2024</small>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
